.header {
	min-height: 100vh;
	width: 100%;
	background-image: url(/public/assets/heroImage.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	position: relative;
}
.header::before {
	content: "";
	background-image: linear-gradient(
		to top,
		rgb(13, 13, 43, 1),
		rgb(13, 13, 43, 0.01)
	);
	position: absolute;
	height: 30rem;
	right: 0;
	bottom: -1rem;
	left: 0;
}
.content {
	padding: var(--padding);
	margin-top: 6rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	/* background-image: linear-gradient(
		to right,
		rgba(13, 13, 43, 0.1),
		rgba(13, 13, 43, 0.7),
		rgba(13, 13, 43, 0.01)
	); */
}
.content > h1 {
	font-size: 7rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	line-height: 8rem;
}
.content > h1 > span:last-child {
	color: var(--e64);
}
.content > p {
	font-size: 2.4rem;
}
@media screen and (max-width: 977px) {
	.content > h1 {
		font-size: 5rem;
		line-height: 6rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.content > p {
		font-size: 2rem;
	}
}
@media screen and (max-width: 709px) {
	.content {
		width: 100%;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding: 2rem 0;
	}
	.content > h1 {
		font-size: 4rem;
		line-height: 5rem;
	}
	.content > p {
		font-size: 1.6rem;
		margin-top: 1rem;
	}
}
@media screen and (max-width: 425px) {
	.header {
		min-height: 80vh;
	}
}
@media screen and (max-width: 375px) {
	.content {
		padding: 2rem 1rem;
	}
	.content > h1 {
		font-size: 3.4rem;
		line-height: 4rem;
	}
	.content > p {
		font-size: 1.4rem;
		margin-top: 1rem;
	}
}
